@font-face {
	font-family: 'aleo bold';
	src: url('../fonts/aleo/aleo-bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'aleo light';
	src: url('../fonts/aleo/aleo-light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'aleo light italic';
	src: url('../fonts/aleo/aleo-light-italic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'aleo regular';
	src: url('../fonts/aleo/aleo-regular.ttf') format('truetype');
	font-weight: regular;
	font-style: normal;
}

@font-face {
	font-family: 'WCManoNegraBta regular';
	src: url('../fonts/WCManoNegraBta/WCManoNegraBta.ttf') format('truetype');
	font-weight: regular;
	font-style: normal;
}