section.dishes.container
	.dishes__header
		.dishes__header-title Featured Dishes
		.dishes__header-pagination
			.dishes__header-pagination-item
			.dishes__header-pagination-item.dishes__header-pagination-item--active
			.dishes__header-pagination-item
			.dishes__header-pagination-item
	.dishes__content
		+dishesItem('dishes_1.png', 'Fugiat nulla sint', '30', '4')
		+dishesItem('dishes_2.png', 'Daute irure dolor', '24', '3')
		+dishesItem('dishes_3.png', 'Officia deserunt mollit', '60', '5')
		+dishesItem('dishes_4.png', 'Pim minim veniam', '17', '4')

