footer.footer
	.container
		.footer__adress
			p.footer__adress-name New York restaurant
			p.footer__adress-text 3926 Anmoore Road
			p.footer__adress-text New York_ NY 10014
			p.footer__adress-phone 718-749-1714

		.footer__adress
			p.footer__adress-name France restaurant
			p.footer__adress-text 68_ rue  de la Couronne
			p.footer__adress-text 75002 PARIS
			p.footer__adress-phone 02.94.23.69.56

		.footer__links
			a.footer__links-item(href="#") Blog
			a.footer__links-item(href="#") careers
			a.footer__links-item(href="#") privacy policy
			a.footer__links-item(href="#") contact

		.footer__info
			.footer__info-logo
				a(href="#").footer__info-logo--link
					img(src="./images/logo/Logo_white.png" alt="logo")
					img(src="./images/logo/Logo_after.png" alt="logo")
			.footer__info-copy
				| &copy; Rights Reserved 2014. 
			.footer__info-dev 
				| Find  More at 
				a(href="http://pixelhint.com").footer__info-dev--link Pixelhint.com


