section.gallery.container
	.gallery__header.disher__header
		.disher__header-title.gallery__header-title the gallery
	.gallery__items
		.gallery__item
			img(src="./images/gallery/gallery_1.png" alt="gallery")
		.gallery__item
			img(src="./images/gallery/gallery_2.png" alt="gallery")
			img(src="./images/gallery/gallery_3.png" alt="gallery")
		.gallery__item
			img(src="./images/gallery/gallery_4.png" alt="gallery")
			img(src="./images/gallery/gallery_5.png" alt="gallery")

